.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 6px;
}

.left-section {
    width: 200px;
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 28px;
    margin: 20px;
}

.youtube-logo {
    height: 22px;
}

.middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    /* margin-left: 75px; */
    justify-content: center;
    max-width: 700px;
    margin-left: 75px;
    margin-right: 75px;
}

.search-bar {
    /* flex: 1; */
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding-left: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    box-shadow: inset 0 4px 4px rgb(238, 238, 238);
    border: 1px solid rgb(204, 204, 204);
}

.search-bar::placeholder {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
}

.search-button {
    height: 45px;
    width: 85px;
    margin-left: -1px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 1px;
    padding: 1px 6px;

}

.search-button,
.voice-search-button ,
.upload-icon-container ,
.youtube-apps-container ,
.notifications-container{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tool-info,
.voice-search-button .tool-info ,
.upload-icon-container .tool-info ,
.youtube-apps-container .tool-info,
.notifications-container .tool-info{
    font-family: Roboto;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tool-info,
.voice-search-button:hover .tool-info ,
.upload-icon-container:hover .tool-info,
.youtube-apps-container:hover .tool-info ,
.notifications-container:hover .tool-info{
    opacity: 1;
}

.search-icon {
    height: 22px;
    padding-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: none;
}

.voice-search-icon {
    height: 20px;
}

.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-right: 15px;
    position: relative;
}

.upload-icon {
    height: 28px;
}

.youtube-apps {
    height: 28px;
}

.notifications-icon {
    height: 28px;
}

.no-notifications {
    position: absolute;
    top: 4px;
    right: 72px;
}

.not-p {
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 1.5px 5px;
    border-radius: 80px;
}

.channel-logo {
    height: 32px;
    cursor: pointer;
}

.side-bar {
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 85px;
    z-index: 200;
    padding-top: 6px;
}

.icons {
    display: flex;
    flex-direction: column;
    height: 74px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.icons:hover {
    background-color: rgb(231, 230, 230);
    ;
}

.icons div {
    font-family: Roboto;
    margin-top: 5px;
    font-size: 12px;
}

.icons-img {
    height: 24px;
}

body {
    margin: 0;
    background-color: rgb(238, 238, 238);

}

p {
    margin: 0;
}

.main-page {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 18px;
    row-gap: 50px;
    overflow: hidden;
    /* box-shadow: inset 0 4px 4px rgb(0, 0, 0); */
    margin-top: 62px;
    margin-left: 80px;
    padding: 20px 20px;
    max-width: 1400px;
}
@media (max-width:750px){
    .main-page{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* @media(max-width:900px){
    .side-bar{
        display: none;
    }
    .main-page{
        margin-left: 0;
    }
} */

@media (max-width: 600px) {
  .main-page {
    grid-template-columns: 1fr;
  }
}
.video {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 1); */
    /* cursor: pointer; */
    overflow: hidden;
    transition: transform 1s;
}
.video-thumbnail {
    margin-bottom: 8px;
    position: relative;

}

.time {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px 4px;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.video-thumbnail-img {
    width: 100%;

}

.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-logo {
    margin-left: 5px;
}

.channel-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.about-video {
    margin-left: 12px;
}

.video-title {
    width: 265px;
    text-decoration: none;
    color: black;
}
.video-title-p {
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.channel-info {
    text-decoration: none;
}

.channel-info-p {
    color: gray;
    font-size: 13px;

}

.video-details {
    margin-top: 5px;
}

.video-details {
    color: gray;
    font-size: 13px;
}